<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Meta Tags, SEO, Social -->
    {% render 'meta-tags' %}

    <!-- Favicon -->
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">

    <!-- Critical CSS -->
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- CSS Variables (inlined) -->
    {% render 'css-variables' %}

    <!-- Stylesheets -->
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    <!-- Shopify required header content -->
    {{ content_for_header }}
  </head>

  <body>
    <main class="w-100">
      {{ content_for_layout }}
    </main>

    <!-- Scripts -->
    {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
    {{ 'swiper-bundle.min.js' | asset_url | script_tag }}
    {{ 'swiper-init.min.js' | asset_url | script_tag }}
  </body>
</html>
